{% extends 'main/layout.html' %}
{% block content %}

    <main class="main">
            <section>
                <div class="hes-gallery">
                    <img class = "gallery_img" src="https://sun1.userapi.com/sun1-91/s/v1/ig2/jQFbWuZmtZy-980i6AY7c_CEIbJOGxz45OaPsScBZti6bP42DFnAbZupAOxgrf654dASdta6qgjp_bycT6m6vDZL.jpg?size=2160x2160&quality=96&type=album" alt="Логотип трека">
                    <img class = "gallery_img" src="https://sun1.userapi.com/sun1-57/s/v1/ig2/t4DcqKFHhaLAUjLocD_qr7I08AD4Zrn3m5i-SddxYZSG2HRvTY3mhzW3-k9Vn8q4hTsnJGv6BoMODQ_YaRgwEuI-.jpg?size=1624x1624&quality=95&type=album" alt="Логотип трека">
                    <img class = "gallery_img" src="https://sun1.userapi.com/sun1-13/s/v1/ig2/uKWXV2sqX2Td9ICxv0z3VJsvdcpl9e7ZPrSNrHNgufJxX_jyF4sQh6aBEb7Qa2e8ZRAC_ntm-ZTPIp60AVtsZ92m.jpg?size=1080x1080&quality=96&type=album" alt="Логотип трека">
                    <img class = "gallery_img" src="https://sun1.userapi.com/sun1-15/s/v1/ig2/BoqJ3v1QdP9Vwi1B607r1Cbe9-S90YeTNtLo74HHLJeqw3trh0OSIymGsXvdVtHN1Z16uMw7SE4b2Flu4oQbs98v.jpg?size=1280x1280&quality=95&type=album" alt="Логотип трека">
                    <img class = "gallery_img" src="https://sun1.userapi.com/sun1-24/s/v1/ig2/0jZWdLa-hXya0vpZgueJ8fREIDTRabNyIAVSyeLVhMR8znbfx3fOp85Bw7Gh-H6Oj-JJYDq56LXpyv0eIwunHNzD.jpg?size=951x951&quality=96&type=album" alt="Логотип трека">
                    <img class = "gallery_img" src="https://avatars.yandex.net/get-music-content/4796762/b3a93c75.a.15905947-1/200x200" alt="Логотип трека">
                    <img class = "gallery_img" src="https://t2.genius.com/unsafe/327x327/https%3A%2F%2Fimages.genius.com%2F48f29f8468486fc5698ed902314784f6.1000x1000x1.jpg" alt="Логотип трека">
                    <img class = "gallery_img" src="https://sun1.userapi.com/sun1-98/s/v1/ig2/CYg6mb9KftdLk1skbBsDSjbC5_R1_z7KkdWqdAInuNOpabJ2A8o_LZSaMjdVzZRHviazy-tdw8Wuslm0VFsLq-Rx.jpg?size=2160x2160&quality=96&type=album" alt="Логотип трека">
                </div>
            </section>
    </main>
 {% endblock %}