{% extends 'main/layout.html' %}
{% block content %}
    <main>
        <section>
             <h1>Вы уверенны, что хотите удалить новость?</h1>
            <form method="post">
                {% csrf_token %}
                <button class="btn" type="submit">Да</button>
            </form>
            <form action="{% url 'news' %}">
                <button class="btn" type="submit">Нет</button>
            </form>
        </section>
        <a class="menu__item" href="{% url 'check' %}">Проверка предложенных статей</a>
    </main>

{% endblock %}

