{% extends 'main/layout.html' %}
{% block content %}
    <main>
        <section>
            <form method="post">
                {% csrf_token %}
                {{ form.title }}<br>
                {{ form.anons }}<br>
                {{ form.full_text }}<br>
                {{ form.date }}<br>
                {{ form.img_url }}<br>
                <button class="btn" type="submit">Отредактировать статью</button>
                <span>{{ error }}</span>
            </form>
        </section>
        <a class="menu__item" href="{% url 'check' %}">Проверка предложенных статей</a>
    </main>

{% endblock %}

