{% extends 'main/layout.html' %}
{% block content %}
    <main>
            <section>
                <a href="{% url 'cakeboy' %}">
                <img class="img-left" src="https://avatars.mds.yandex.net/get-entity_search/1958230/487080956/S122x122_2x" alt="Логотип трека CAKEBOY, КлоуКома - hard OFFER" href="">
            <h1 class="text">CAKEBOY и КлоуКома — про совместный альбом «hard OFFER», дрилл и доходы</h1>
            <p class="text">CAKEBOY и КлоуКома рассказали, как записывали релиз «hard OFFER», а также обсудили доходы битмейкеров и артистов. Про дрилл CAKEBOY: Дрилл почему-то не в моём сердечке. Не знаю, как так вышло. Нет такой позиции, что не буду, как все. Просто получилось, что мне не нравится. Я попробовал разок и думаю, что это...</p>
        </a> </section>

        <section>
            <a href="{% url 'jeembo' %}">
            <img class="img-left" src="https://images.genius.com/9176ddd72ff82183f303276d2858da03.1000x1000x1.jpg" alt="Логотип трека CAKEBOY, КлоуКома - hard OFFER" href="">
        <h1 class="text">JEEMBO — о релизе BLACK BOX, Уфе и уходе с Booking Machine</h1>
        <p class="text">Я долго пытался выпустить такую работу, но мне не хватало опыта. То есть опыт в написании клевых куплетов у меня был, но не в написании альбома. За последние пару лет у меня было много наработок — просто строчек, которые никуда не шли. А собирать я их начал прошлым летом — так и началась работа над альбомом.</p>
    </a> </section>

    </main>
{% endblock %}